@font-face {
    font-family: "droidserif";
    src: url("font/droidserif.eot");
    src: url("font/droidserif.eot") format("embedded-opentype"),
        url("font/droidserif.ttf") format("truetype"),
        url("font/droidserif.svg#droidserif") format("svg"),
        url("font/dridserif.woff") format("woff"),
        url("font/droidserif.woff2") format("woff2");
}
html {
    margin-left: calc(100vw - 100%);
}
body {
    color: #4f4f4d;
    font-family: droidserif, sans-serif;
    zoom: 85%;
}
a {
    color: #1a563d;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #1a563d;
}
a:visited {
    color: #1a563d;
}
a:hover {
    border-bottom: 2px white solid;
    opacity: 0.8;
}
a:active {
    border-bottom: 2px white solid;
    opacity: 0.4;
}
hr {
    background-color: #1a563d;
    border: none;
    height: 1px;
    margin: 8px 0px;
}
table {
    border-collapse: collapse;
    border: 1px solid #1a563d;
    margin: 10px 0px;
    width: 100%;
}
td {
    border: 1px solid #1a563d;
    padding: 5px;
    text-align: justify;
}
.tdc {
    text-align: center;
}
ul {
    list-style:none;
}
ul > li:before {
    content: ">";
    margin-left: -20px;
    margin-right: 10px;
}

.head-container {
    height: 90px;
    margin: 20px auto 0px auto;
    width: 1500px;
}
.head-left {
    box-sizing: border-box;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    width: 28%;
}
.head-left h1 {
    font-size: 2.8em;
    margin: 10px 0px;
}
.head-right {
    background-color: #1a563d;
    box-sizing: border-box;
    color: white;
    float: left;
    font-size: 1.24em;
    font-weight: bold;
    height: 90px;
    line-height: 1.8em;
    padding: 28px 0px 28px 28px;
    width: 72%;
}
.head-right a {
    color: white;
    display: inline;
    margin-right: 44px;
}
.head-right a:last-child {
    margin-right: 0px;
}
.head-right .a-current {
    border-bottom: 2px white solid;
    opacity: 0.8;
}
.content-container {
    line-height: 2.5em;
    margin: 0px auto;
    min-height: 400px;
    padding: 14px 0px 0px 0px;
    position: relative;
    transition: height 0.75s;
    width: 1500px;
}
.main-container,
.cost-container,
.about-container,
.qa-container,
.advn-container,
.cont-container {
    display: none;
    opacity: 0;
    position: absolute;
    transition: opacity 1.25s;
    visibility: hidden;
    width: 1500px;
}
.main-container {
    display: inline;
    opacity: 1;
    text-align: justify;
    visibility: visible;
}
.main-container img {
    width: 1500px;
}
.footer {
    background-color: #1a563d;
    color: white;
    display: table;
    font-size: 1.1em;
    height: 80px;
    margin: 10px auto 0px auto;
    width: 1500px;
}
.footer a {
    border: 0px;
    color: white;
    display: table-cell;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    width: 375px;
}
.footer a div {
    display: inline-block;
    vertical-align: middle;
}
.footer a .footer-img {
    background: url("../img/footer.png") no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}
.footer a .img-email {
    background-position: 0px 0px;
}
.footer a .img-phone {
    background-position: -40px 0px;
}
.footer a .img-messengers {
    background-position: -80px 0px;
}
.footer a .img-clock {
    background-position: -120px 0px;
}
.sorry {
    font-size: 0.918em;
    text-align: center;
    margin: 0px auto;
    width: 1500px;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
