@font-face {
    font-family: "Droid Serif";
    src: local("Droid Serif"), local("DroidSerif"), url("font/droidserif.woff2") format("woff2"), url("font/droidserif.woff") format("woff"), url("font/droidserif.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Droid Serif";
    src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url("font/droidserifitalic.woff2") format("woff2"), url("font/droidserifitalic.woff") format("woff"), url("font/droidserifitalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Droid Serif";
    src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url("font/droidserifbold.woff2") format("woff2"), url("font/droidserifbold.woff") format("woff"), url("font/droidserifbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Droid Serif";
    src: local("Droid Serif Bold Italic"), local("DroidSerif-BoldItalic"), url("font/droidserifbolditalic.woff2") format("woff2"), url("font/droidserifbolditalic.woff") format("woff"), url("font/droidserifbolditalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}
* {
    margin: 0px;
    padding: 0px;
}
html {
    margin: 0px 43px 60px 17px;
    overflow-y: scroll;
}
body {
    color: #4f4f4d;
    font-family: "Droid Serif";
    font-size: 15px;
    text-align: justify;
}
a {
    font-weight: bold;
    text-decoration: none;
}
a:link, a:visited {
    color: #4877a9;
}
a:hover {
    border-bottom: 2px white solid;
    opacity: 0.8;
}
a:active {
    border-bottom: 2px white solid;
    opacity: 0.4;
}
button,
input,
.result {
    color: #4f4f4d;
    font-family: "Droid Serif";
    font-size: 16px;
    margin: 8px 8px 8px 0px;
    padding: 4px;
}
input {
    width: 96px;
}
p a,
p a:link,
p a:visited,
p a:hover,
p a:active {
    border-bottom: 2px #4877a9 solid;
}
hr {
    background-color: #4877a9;
    border: none;
    height: 1px;
}
ol {
    padding-left: 40px;
}
table {
    border-collapse: collapse;
    border: 1px solid #4877a9;
    margin-bottom: 4px;
    width: 100%;
}
td {
    border: 1px solid #4877a9;
    padding: 4px;
}
.tdc {
    text-align: center;
}
ul {
    list-style: none;
    padding-left: 40px;
}
ul > li:before {
    content: ">";
    margin-left: -20px;
    margin-right: 10px;
}
.head-container {
    font-weight: bold;
}
.head-left {
    float: left;
    text-align: left;
    width: 28%;
}
.head-left h1 {
    font-size: 48px;
    padding: 8px 0px;
}
.head-left span {
    font-size: 14px;
}
.head-right {
    background-color: #4877a9;
    float: left;
    font-size: 20px;
    line-height: 28px;
    padding: 27px 0px;
    width: 72%;
}
.head-right a {
    color: white;
    margin-left: 17px;
}
.a-current {
    border-bottom: 2px white solid;
    opacity: 0.8;
}
.content-container {
    line-height: 36px;
    margin-top: 4px;
}
.main-container img {
    width: 100%;
}
.article-container {
    font-size: 15px;
    padding: 0px 150px;
}
.article-container p {
    padding-top: 17px;
}
.article-container li {
    padding-top: 7px;
}
.footer {
    background-color: #4877a9;
    display: table;
    font-size: 20px;
    padding: 14px 0px;
    width: 100%;
}
.footer a {
    border: 0px;
    color: white;
    display: table-cell;
    font-weight: normal;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}
.footer a div {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.footer a .footer-img {
    background: url("../img/footer.png") no-repeat;
    height: 40px;
    width: 40px;
}
.footer a .img-email {
    background-position: 0px 0px;
}
.footer a .img-phone {
    background-position: -40px 0px;
}
.footer a .img-messengers {
    background-position: -80px 0px;
}
.footer a .img-clock {
    background-position: -120px 0px;
}
.clearfix::after {
    clear: both;
    content: "";
    display: table;
}
@media only screen and (max-width: 1024px) {
    html {
        margin: 0px 4px 4px 4px;
    }
    body {
        font-size: 17px;
        text-align: left;
    }
    table {
        table-layout: fixed;
    }
    td {
        vertical-align: top;
        word-wrap: break-word;
    }
    .tdn {
        display: none;
    }
    .head-left {
        float: none;
        width: 100%;
    }
    .head-left span {
        font-size: 17px;
    }
    .head-left h1 {
        font-size: 44px;
    }
    .head-right {
        float: none;
        width: 100%;
    }
    .article-container {
        font-size: 17px;
        padding: 0px;
    }
    .footer {
        font-size: 17px;
    }
    .footer a:nth-child(2) {
        display: none;
    }
}
